{% extends 'base.html' %} {% load static %} {% block content %}
<div style="display: flex; flex-wrap: wrap; justify-content: center">
  {% for product in products %}
  <div class="card" style="min-width: 250px; margin: 1rem">
    {% if product.image %}
    <img
      src="{{product.image.url}}"
      class="card-img-top"
      alt="..."
      height="150px"
    />
    {% else %}
    <img
      src="{% static 'img/default.png'%}"
      class="card-img-top"
      alt="..."
      height="150px"
    />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">Price: {{product.price}}$</p>
      <p class="card-text">Is Available: {{product.is_available}}</p>

      <p class="card-text">Category: {{product.category.all.0.id}}</p>
      {% if product.category.all.1 %}
      <p class="card-text">Category: {{product.category.all.1.id}}</p>
      {% endif %}
      <a href="{% url 'products:detail' product.id %}" class="btn btn-primary"
        >View more</a
      >
      <a href="{% url 'products:delete' product.id %}" class="btn btn-danger"
        >Delete</a
      >
      <a href="{% url 'products:update' product.id %}" class="btn btn-info"
        >Update</a
      >
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
