{% extends 'base.html' %} {% load static %} {% block content %}

<div style="display: flex; flex-wrap: wrap; justify-content: center">
  {% for product in products %}
  <div class="card" style="min-width: 250px; margin: 1rem">
    {% if product.image %}
    <img
      src="{{product.image.url}}"
      class="card-img-top"
      alt="..."
      height="150px"
    />
    {% else %}
    <img
      src="{% static 'img/default.png'%}"
      class="card-img-top"
      alt="..."
      height="150px"
    />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title {% cycle 'success' 'warning' 'error' %}">{{product.title}}</h5>
      <p class="card-text">Price: {{product.price}}$</p>
      <p class="card-text">Is Available: {{product.is_available}}</p>

      <p class="card-text">Category: {{product.category}}</p>
      <p class="card-text">Created On: {{product.created|date:"Y-m-d"}}</p>
     
      <a href="{% url 'products:detail' product.id %}" class="btn btn-primary"
        >View more</a
      >
      <!-- <a href="{% url 'products:delete' product.id %}" class="btn btn-danger"
        >Delete</a
      > -->
      <form action="{% url 'products:delete' product.id %}" method="post">{% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>
    
      <a href="{% url 'products:update' product.id %}" class="btn btn-info"
        >Update</a
      >
    </div>
  </div>
  {% empty %}
  <p>There is not records available.</p>
  {% endfor %}
</div>

{% endblock %}
