{% extends 'base.html' %} {% block content %}

<div style="display: flex; justify-content: center">
  <form method="post" style="width: 300px">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="exampleInputEmail1"
        value="{{product.title}}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        value="{{product.price}}"
      />
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        name="is_avaliable"
        id="exampleCheck1"
        {% if product.is_available %}
        checked
        {% endif %}
      />
      <label class="form-check-label" for="exampleCheck1">Is Avaliable</label>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="desc"
        value="{{product.price}}"
      >{{product.description}}</textarea>
    </div>
    <!-- {{form.as_div}} -->
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>
</div>

{% endblock %}
